target/
!.mvn/wrapper/maven-wrapper.jar
/cp_debug_resources/
/debug/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!.bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/resources/static/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Others ###
.m2/
apache-maven-*/
*.tar.gz
*.zip
*.bak
tmp/
.DS_Store
